#all-tasks {
  
  .header {
    background: url("http://photo.accuweather.com/photogallery/2012/9/500/e8e68b50f.jpg") center center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    color: #fff;
    font-weight: 500;
    // height: 300px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    
    .top {
      background: $jewel;
      opacity: .6;
      padding: 50px 15px;
      text-align: right;
  
      .logo{
        font-family: 'Sirin Stencil', cursive;
        font-size: 40px;
        font-weight: 500;
        float: left;
      }
      .task-total {
        position: relative;
        top: -15px;
        .tasks {
          display: inline-block;
          .number {
            color: $black;
            font-weight: 500;
            font-size: 60px;
            margin: 0 10px 0 0;
            position: relative;
            top: 10px;
          }
        }
      } 
    }
    
    .add-circle {
      background: $fuschia;
      border-radius: 50%;
      top: 126px;
      padding: 10px 12px;
      position: absolute;
      right: 25px;
      cursor: pointer;
    }
  }

  // FIX CONTENT AREA....CANT GET MARGIN RIGHT

  .content-area {
    color: $black;
    width: 100%;
    .tasks-container {
      margin: 20px 0;
      .task-box {
        padding: 20px;
        border-bottom: 2px solid $fuschia;
        margin: 0 0 20px 0;
        background: #fff;
        position: relative;
        .title{
          color: black;
          font-size: 24px;
          font-family: 'Patua One';

        }
        .date {
          font-size: 18px;
          color: $jewel;
          font-family: 'Patua One';
          margin: 15px 0 0 0;
        }
        .check-box {
          padding: 10px;
          border-radius: 10px;
          border: 3px solid $jewel;
          display: inline-block;
          position: absolute;
          top: 25px;
          right: 25px;
          font-size: 20px;
        }
      }
    }
  }
  
  .task-form {
    background: $fuschia;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 25px 0;
    transform: translate(0,100%);
    transition: all .6s ease-in-out;
    &:active {
      transform: translate(0,0);
    }
    }

    h3 {
      margin: 25px 0;
      text-align: center;
      font-size: 35px;
    }

    .form-group {
      margin-bottom: 10px;
    }
    form {
      display: block;
      max-width: 500px;
      margin: 0 auto;
      text-align: center;
    }
    label {
      display: block;
      text-transform: capitalize;
      font-family: 'Patua One';
      font-size: 25px;
      text-align: left;
      margin: 0 0 10px 0;
    }
    input[type="text"], textarea {
      width: 100%;
      text-transform: uppercase;
      font-family: 'Patua One';
      font-size: 25px;
      background: rgba(255, 255, 255, .1);
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, .7);
      color: #fff;
      &:focus {
        outline: none;
      }
    }

    textarea {
      height: 250px;
    }

    button {
      color: #fff;
      background: $jewel;
      padding: 15px 20px;
      border: none;
      width: 100%;
      font-size: 18px;
      text-transform: uppercase;
    }

    .close-btn {
      font-size: 30px;
      position: absolute;
      right: 35px;
      top: 35px;
      padding: 15px;
      cursor: pointer;
    }
  }







.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  background: rgb(194, 190, 190);
  padding: 0 15px;
}

// .task-title {
//   font-size: 25px;
//   font-family: 'Open Sans', 'Helvetica Neue', sans-serif}




