@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";



$black: #0e0a19;
$fuschia: #a33acb;
$jewel: #4717f6;
$grey: #e8dfe0;


html, body {
  background: $grey;
  height: 100%;
}

*,h1,h2,h3,h4,h5,h6,span,div,p {
  box-sizing: border-box;
  font-size: 25px;
  font-family: 'Patua One','Open Sans', sans-serif;
}


// ALL TASKS PAGE BEGINS HERE 

@import "home";
@import "all-tasks";














